In [1]:
from pathlib import Path
import pandas as pd
import requests

def fetch_raw_data(year: int, month: int) -> str:
    url = f"https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_{year}-{month:02}.parquet"
    response = requests.get(url)
    if response.status_code == 200:
        # Use pathlib to construct the path
        path = Path("..") / "data" / "raw" / f"rides_{year}_{month:02}.parquet"
        # Ensure the parent directory exists
        path.parent.mkdir(parents=True, exist_ok=True)
        # Write the content to the file
        path.write_bytes(response.content)
        print(f"Successfully fetched: {str(path)}")
        return str(path)
    else:
        raise Exception(f"{url} is not available")

In [2]:
month = 1
year = 2023
for month in range(1,13):
    path = Path("..") / "data" / "raw" / f"rides_{year}_{month:02}.parquet"
    fetch_raw_data(year, month)

Successfully fetched: ../data/raw/rides_2023_01.parquet
Successfully fetched: ../data/raw/rides_2023_02.parquet
Successfully fetched: ../data/raw/rides_2023_03.parquet
Successfully fetched: ../data/raw/rides_2023_04.parquet
Successfully fetched: ../data/raw/rides_2023_05.parquet
Successfully fetched: ../data/raw/rides_2023_06.parquet
Successfully fetched: ../data/raw/rides_2023_07.parquet
Successfully fetched: ../data/raw/rides_2023_08.parquet
Successfully fetched: ../data/raw/rides_2023_09.parquet
Successfully fetched: ../data/raw/rides_2023_10.parquet
Successfully fetched: ../data/raw/rides_2023_11.parquet
Successfully fetched: ../data/raw/rides_2023_12.parquet

In [2]:
data = fetch_raw_data(2023,1)

Successfully fetched: ../data/raw/rides_2023_01.parquet

In [ ]:
import pyarrow.parquet as pq

table = pq.read_table(path)
rides = table.to_pandas()
len(rides)

3066766

In [4]:
month = 2
total_rides = {}
for year in range(2012,2025):
    path = Path("..") / "data" / "raw" / f"rides_{year}_{month:02}.parquet"
    table = pq.read_table(path)
    rides = table.to_pandas()
    total_rides[year] = f"{len(rides):,}"

In [5]:
total_rides

{2012: '13,361,345',
 2013: '13,990,176',
 2014: '13,063,794',
 2015: '12,442,394',
 2016: '11,375,412',
 2017: '9,169,775',
 2018: '8,492,819',
 2019: '7,049,370',
 2020: '6,299,367',
 2021: '1,371,709',
 2022: '2,979,431',
 2023: '2,913,955',
 2024: '3,007,526'}

In [25]:
total_rides = {}
for month in range(1, 13):
    total_rides[month] = {}
    for year in range(2021,2025):    
        path = Path("..") / "data" / "raw" / f"rides_{year}_{month:02}.parquet"
        table = pq.read_table(path)
        rides = table.to_pandas()
        total_rides[month][year] = f"{len(rides):,}"

In [26]:
total_rides

{1: {2021: '1,369,769',
  2022: '2,463,931',
  2023: '3,066,766',
  2024: '2,964,624'},
 2: {2021: '1,371,709',
  2022: '2,979,431',
  2023: '2,913,955',
  2024: '3,007,526'},
 3: {2021: '1,925,152',
  2022: '3,627,882',
  2023: '3,403,766',
  2024: '3,582,628'},
 4: {2021: '2,171,187',
  2022: '3,599,920',
  2023: '3,288,250',
  2024: '3,514,289'},
 5: {2021: '2,507,109',
  2022: '3,588,295',
  2023: '3,513,649',
  2024: '3,723,833'},
 6: {2021: '2,834,264',
  2022: '3,558,124',
  2023: '3,307,234',
  2024: '3,539,193'},
 7: {2021: '2,821,746',
  2022: '3,174,394',
  2023: '2,907,108',
  2024: '3,076,903'},
 8: {2021: '2,788,757',
  2022: '3,152,677',
  2023: '2,824,209',
  2024: '2,979,183'},
 9: {2021: '2,963,793',
  2022: '3,183,767',
  2023: '2,846,722',
  2024: '3,633,030'},
 10: {2021: '3,463,504',
  2022: '3,675,411',
  2023: '3,522,285',
  2024: '3,833,771'},
 11: {2021: '3,472,949',
  2022: '3,252,717',
  2023: '3,339,715',
  2024: '3,646,369'},
 12: {2021: '3,214,369',
  2022: '3,399,549',
  2023: '3,376,567',
  2024: '3,668,371'}}

In [5]:
import pyarrow.parquet as pq
path = Path("..") / "data" / "raw" / f"rides_2023_01.parquet"
table = pq.read_table(path)
rides = table.to_pandas()
len(rides)

3066766

In [7]:
rides

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.30,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.90,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.90,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.10,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.40,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3066761,2,2023-01-31 23:58:34,2023-02-01 00:12:33,NaN,3.05,NaN,None,107,48,0,15.80,0.00,0.5,3.96,0.0,1.0,23.76,NaN,NaN
3066762,2,2023-01-31 23:31:09,2023-01-31 23:50:36,NaN,5.80,NaN,None,112,75,0,22.43,0.00,0.5,2.64,0.0,1.0,29.07,NaN,NaN
3066763,2,2023-01-31 23:01:05,2023-01-31 23:25:36,NaN,4.67,NaN,None,114,239,0,17.61,0.00,0.5,5.32,0.0,1.0,26.93,NaN,NaN
3066764,2,2023-01-31 23:40:00,2023-01-31 23:53:00,NaN,3.15,NaN,None,230,79,0,18.15,0.00,0.5,4.43,0.0,1.0,26.58,NaN,NaN
3066765,2,2023-01-31 23:07:32,2023-01-31 23:21:56,NaN,2.85,NaN,None,262,143,0,15.97,0.00,0.5,2.00,0.0,1.0,21.97,NaN,NaN